<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        
    </form>
</body>
</html>



###
<form action="/creation" method="POST">

    Min <input type="text" 
         name="min" 
         value="{{ request.args.get("min", "") }}"
         required>

    Max <input type="text"
         name="max" 
         value="{{ request.args.get("max", "") }}"
         required>

    <input type="submit">
</form>

###